body {
  background-color: gray;
}

.Music {
  color: whitesmoke;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.now-playing {
  font-size: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track,
{
  padding: 25px;
  opacity: 0.8;
}
 

.playpause-track:hover,
{
  opacity: 1.0;
}
 
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
