body {
    background-color: #a4a4a4;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    /*display: inline-block;
    height: 75px;
    width: 75px;*/
    text-align: center;
    background-color: #d9d9d9;
    color: #ffffff;
}

#aands {
    width: 175px;
    height: 50px;
}

.content {
    padding-top: 75px;
    display: flex;
    justify-content: space-around;
}

#clock {
    width: 40vh;
    text-align: center;
}

#clock h1 {
    font-size: 64px;
}

#clock {
    text-align: center;
    width: 40%;
}


#settings {
    margin: 80px 90px;
    height: 400px;
    width: 1000px;
    text-align: center;
    background-color: #d9d9d9;
}
