h2, p {
    text-align: center;
}

.content {
    padding-top: 2%;
}

table {
    border-collapse: collapse;
    border: none;
}

tr {
    border-bottom: 1px solid grey;

}

td {
    border-right: solid black 1px;
    padding: 0.2em;
    width: 5em;
    text-align: center;

}

td.selected {
    background-color: #444343;
}

td:hover {
    background-color: lightblue;
}

tr:first-child{
    border-bottom: black solid 1px;
}

tr:last-child {
    border: none;
}

td:last-child {
    border: none;
}

td:first-child {
    width: 3em;
    
}
